<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Aktualne wypożyczenia | Biblioteka na Bagnie</title>
</head>
<body>
<nav class="nav w3-bar w3-green">
    <div class="w3-bar-item"><a href="/">Wszystkie</a></div>
    <div class="w3-bar-item"><a href="/availableBooks">Dostępne</a></div>
    <div class="w3-bar-item"><a href="/rentedBooks">Wypożyczone</a></div>
    <div class="w3-bar-item"><a href="/blockedBooks">Zablokowane</a></div>
    <div class="w3-bar-item"><a href="/rented">Wypożyczenia</a></div>
    <div class="w3-bar-item"><a href="/activeRentals">Aktualne wypożyczenia</a></div>
</nav>
<header class="header w3-panel">
    <h1>Lista wszystkich wypożyczeń</h1>
</header>
<table id="books" class="w3-table w3-striped w3-border">
    <tr class="w3-green">
        <th>L.p.</th>
        <th>Czytelnik</th>
        <th>Tytuł książki</th>
        <th>Data wypożyczenia</th>
    </tr>

    <tr th:if="${activeRental.isEmpty()}" class="w3-text-grey">
        <td colspan="5">Brak aktualnie wypożyczonych książek.</td>
    </tr>

    <tr th:each="rental, iStat : ${activeRental}">
        <td th:text="${rental.id}"/>
        <td th:text="${rental.reader.name}"/>
        <td th:text="${rental.book.title}"/>
        <td th:text="${rental.startRent}"/>
    </tr>

</table>

</body>
</html>